@font-face {
	font-family: 'gifos';
	src: url('../fonts/gifos.eot?3c4kr3');
	src: url('../fonts/gifos.eot?3c4kr3#iefix') format('embedded-opentype'), url('../fonts/gifos.ttf?3c4kr3') format('truetype'), url('../fonts/gifos.woff?3c4kr3') format('woff'),
		url('../fonts/gifos.svg?3c4kr3#gifos') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'gifos' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-loader:before {
	content: '\e90e';
}
.icon-arrow-left:before {
	content: '\e900';
}
.icon-arrow-right:before {
	content: '\e901';
}
.icon-close:before {
	content: '\e902';
}
.icon-heart:before {
	content: '\e903';
}
.icon-heart-outline:before {
	content: '\e904';
}
.icon-download-hover:before {
	content: '\e905';
}
.icon-facebook:before {
	content: '\e906';
}
.icon-instagram:before {
	content: '\e907';
}
.icon-link:before {
	content: '\e908';
}
.icon-max-screen:before {
	content: '\e909';
}
.icon-search:before {
	content: '\e90a';
}
.icon-trash-normal:before {
	content: '\e90b';
}
.icon-twitter:before {
	content: '\e90c';
}
.icon-check:before {
	content: '\e90d';
}
