body {
	background-color: var(--color__bg);
}

.max-height {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.h-100 {
	height: 100%;
}

.d-none-md {
	display: none;

	@include media(sm) {
		display: initial;
	}
}

.line {
	background-color: $grey;
	width: 30%;
	height: 1px;
	margin-bottom: 60px;
}

.section-img {
	width: 100px;
	min-width: 30px;
}

.svg-gifos-fill {
	fill: var(--color__primary);
}

.section-header {
	padding: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@include media(sm) {
		padding: 15% 8%;
	}
}

.header-search {
	padding: 5%;
}

.section-search-footer {
	padding: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gifos-color {
	br {
		display: initial;

		@include media(sm) {
			display: none;
		}
	}
}

#gifs-section {
	display: none;

	#gifs-data {
		display: none;
	}

	#gifs-no-data {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.active-data {
		display: block;

		#gifs-data {
			display: block;
		}
	}

	&.active-no-data {
		display: block;

		#gifs-no-data {
			display: flex;
		}
	}
}

.gifs-results {
	padding: 0% 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 25px;

	@include media(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include media(sm) {
		grid-template-columns: 1fr 1fr;
	}
}

#gifs-no-data {
	padding: 4% 8% 8% 8%;

	img {
		margin-bottom: 30px;
	}

	p {
		color: $color__secondary;
	}
}
