* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

i {
	font-size: $font-size-n;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
