.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	display: block;
	background-color: var(--color__bg);
	z-index: 99;
	transition: 0.5s;

	.close-modal {
		cursor: pointer;
		position: absolute;
		top: 10%;
		right: 10%;
		color: var(--color__primary);
		font-size: $font-size-n;
	}
}

.modal-closed {
	display: none;
}

.view-gif-max {
	display: grid;
	display: -ms-grid;
	-ms-grid-columns: 1fr 80% 1fr;
	-ms-grid-rows: 1fr;
	grid-template-columns: 1fr 60% 1fr;
	grid-template-rows: 1fr;
	height: 100%;
	transition: 0.5s;

	@include media(sm) {
		grid-template-columns: 1fr;
		padding: 0px 50px;
	}

	.content-arrow-left {
		margin: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include media(sm) {
			display: none;
		}
	}

	.content-arrow-right {
		margin: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include media(sm) {
			display: none;
		}
	}
}

#view-gif {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.gif {
		transition: 0.5s;
		object-fit: contain;
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 500px;
	}
}
