.title {
	@include title;
}

.title-small {
	padding: 0%;
	font-size: $font-size-ns;

	@include media(md) {
		font-size: $font-size-s;
	}
}

.title-outlined {
	padding: 0;
	font-size: $font-size-xs;
	line-height: 25px;
	font-weight: 400;

	@include media(sm) {
		padding: 0% 8%;
	}
}

.color-secundary {
	@include title;
	padding: 0;
	color: $color__secondary;
}

.title-ns {
	font-size: $font-size-n;
	padding: 0;

	@include media(md) {
		font-size: $font-size-ns;
	}
}

.color-black {
	color: var(--color__text);
}
