#create-gif {
	.btn-rounded {
		margin: 30px;
	}

	.title {
		font-size: $font-size-n;
		margin-bottom: 20px;

		span {
			font-size: $font-size-n;
		}
	}

	.title-outlined {
		font-size: $font-size-xs;
		line-height: 36px;
	}
}

#img-camera-container {
	display: inline-block;
	position: absolute;
	left: 5%;
	top: 30%;
	transform: scale(1.2);

	@include media(md) {
		display: none;
	}
}

#img-camera {
	width: 123px;
	height: 163px;
	background-image: var(--img_camera);
	background-repeat: no-repeat;
	background-size: cover;
}

.img-luz-camera {
	opacity: 0;
	width: 91px;
	height: 151px;
	background-image: $img_light;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 7px;
	right: -93px;
	transition: all 1s;

	&.visible {
		opacity: 100;
		transition: all 1s;
	}
}

#img-tape1 {
	width: 47px;
	height: 47px;
	background-image: var(--img_tape1);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 18px;
	left: 0px;
}

#img-tape2 {
	width: 64px;
	height: 64px;
	background-image: var(--img_tape2);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 1px;
	right: 10px;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.animate-rotate {
	animation: spin 4s linear infinite;
}

.paused {
	animation-play-state: paused;
}

#img-tape {
	display: inline-block;
	width: 146px;
	height: 90px;
	background-image: var(--img_tape);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 6%;
	bottom: 32%;

	@include media(md) {
		display: none;
	}
}

.container-video {
	display: flex;
	padding: 30px;
	width: 45%;
	min-width: 580px;
	height: 60%;
	min-height: 380px;
	border: 1px solid var(--color__primary);

	@include media(md) {
		width: 70%;
	}
}

.corner {
	height: 30px;
	width: 30px;
}

.corner-top-left {
	border-top: 2px solid $color__secondary;
	border-left: 2px solid $color__secondary;
}

.corner-bottom-left {
	border-bottom: 2px solid $color__secondary;
	border-left: 2px solid $color__secondary;
}

.corner-top-right {
	border-top: 2px solid $color__secondary;
	border-right: 2px solid $color__secondary;
}

.corner-bottom-right {
	border-bottom: 2px solid $color__secondary;
	border-right: 2px solid $color__secondary;
}

.content-text {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.steps {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 15px 40px;
	width: 100%;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 10px;
		padding: 10px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		font-family: $font-primary;
		font-size: $font-size-s;
		font-weight: bold;
		color: var(--color__primary);
		border: 1px solid var(--color__primary);

		&.active {
			background-color: var(--color__primary);
			color: var(--color__bg);
		}
	}
}

.line-separator {
	height: 7px;
	background-color: var(--color__primary);
	width: 65%;
	border-radius: 5px;
}

.recording {
	width: 100%;
	height: 100%;
}

.footer-create-gif {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	.navbar-links {
		cursor: pointer;
		font-size: $font-size-xs;
	}
}

.timer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: $font-secundary;
	font-size: $font-size-s;
	font-weight: bold;
	color: var(--color__primary);
}

.btn-replay {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.overflow-gifo {
	position: absolute;
	width: 480px;
	height: 320px;
	background-color: $color__hover__gifs;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;

	.icon-status-gifo {
		color: $color__secondary;
	}

	.info-status-gifo {
		margin-top: 20px;
		color: $white;
		font-family: $font-secundary;
		font-size: $font-size-xs;
		font-weight: bold;
	}

	.btn-actions {
		position: absolute;
		top: 10px;
		right: 10px;

		i {
			cursor: pointer;
			margin: 3px;
			padding: 5px;
			background-color: $grey;
			border: none;
			border-radius: 6px;
			color: $color__primary;
			&:hover {
				background-color: $white;
			}
		}
	}
}
