.pa {
	padding: 15px;
}
.clear-button {
	background-color: transparent;
	border: none;
}
.d-none {
	display: none !important;
}
// FLEXBOX
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}
