// Unidades para el Screen
$breakpoint-xs: 375px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1440px;

@mixin media($media) {
    @if $media == xs {
        @media (max-width: $breakpoint-xs) {
            @content;
        }
    } @else if $media == sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $media == md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $media == lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    } @else if $media == xl {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}
